body{
    padding: 0px 70px;
}
/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-image: url('./image/banner.png');
    background-size:30% ;
    background-repeat: no-repeat;
    background-position: right 50px;

}
.baner-right{
    background-color:white;
    width: 300px;
    height:200px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(196, 55, 55, 0.458);


    
}
.baner-container{
    
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    

}
.baner-right > div{

    display: flex;
    align-items: center;
    justify-content: center;
    

}
.baner-left{
    font-size: 40px;
}
.btn{
    border-radius: 5px;
    box-shadow: 1px 4px 10px rgba(196, 135, 55, 0.694);


    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    width: 150px;
    height: 64px;

}
.btn-primary{
    box-shadow: 1px 4px 10px rgba(55, 90, 196, 0.761);

    background: blue;
    color: white;
    width: 170px;
    height: 50px;
}
/* main part */
.main-container{
    background-color: rgba(128, 128, 128, 0.266);
    display: grid;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(215, 139, 236, 0.507);
    margin-bottom: 20px;
    grid-template-columns: repeat(2,1fr);
}
.explore-number{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.right-text{
    display: flex;
    color: blue;
    
justify-content: space-evenly;
}
.m-c.r{

}
hr{
width: 25vw;
margin-bottom: 20px;
}
/* main part */


/* responsive */
@media screen and (max-width:576px) {
    .baner-container{
        display: flex;
        flex-direction: column;
    }
    
}