/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-image: url('./image/banner.png');
    background-size:30% ;
    background-repeat: no-repeat;
    background-position: right 50px;

}
.baner-right{
    background-color:white;
    width: 300px;
    height:200px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(196, 55, 55, 0.14);


    
}
.baner-container{
    
    border: 1px solid tomato;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    

}
.baner-right > div{

    display: flex;
    align-items: center;
    justify-content: center;
    

}
.baner-left{
    font-size: 40px;
}
.btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    width: 150px;
    height: 64px;

}
.btn-primary{
    background: blue;
    color: white;
    width: 170px;
    height: 50px;
}


/* responsive */
@media screen and (max-width:576px) {
    .baner-container{
        display: flex;
        flex-direction: column;
    }
    
}