body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

li {
    list-style: none;
}

nav ol li {
    display: inline-block;
    margin: 10px 20px;
}

nav ol li a {
    color: black;
    text-decoration: none;

}

.scarch {
    display: flex;
    justify-content: start;
    gap: 30px;
    align-items: center;

}

nav div input {
    padding: 10px;

    border-radius: 15px;
    border: 1px solid rgba(255, 99, 71, 0.325);

}
nav{
    box-shadow: 1px 4px 10px rgba(29, 26, 26, 0.9);

}

nav div h1 {
    margin-left: 20px;
}

.home-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.421);
}

#profile {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.15);
}

.btn {
    cursor: pointer;

    border-radius: 5px;
    box-shadow: 1px 4px 10px rgba(196, 135, 55, 0.694);


    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    width: 150px;
    height: 64px;

}


.btn-primary {
    box-shadow: 1px 4px 10px rgba(55, 90, 196, 0.761);

    background: rgba(5, 5, 238, 0.837);
    color: white;
    width: 170px;
    height: 50px;
}

/* upload section  */

.upload-section {
    margin-top: 7em;
    display: flex;
    
    justify-content: center;
    gap: 9em;
}

.upload-paper {
text-size-adjust:unset;}

.drag_N_drop {

    width: 400px;
    height: 200px;
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


/* upload section  */



@media screen and (max-width:576px) {

    /* home html er css */
    nav ol li {
        display: none;
    }

    .home-nav {
        background-color: rgba(250, 235, 215, 0.421);
        justify-content: space-around;

    }


    nav div h1 {
        margin: 0px;
    }

    #profile {
        display: flex;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.15);

    }

    .upload-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

}